---
layout: default
title: Andrey's Dev Blog
---

<div id="posts">
	{% for post in site.posts %}
	<div class="post">
		<h2 class="date-header">{{ post.date | date: '%A, %B %d, %Y' }}</h2>
		<h3 class="post-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h3>
		{% if post.image %}
		<div class="post-image">
			<img src="{{ post.image.url }}" width="{{ post.image.width }}" height="{{ post.image.height }}" />
		</div>
		{% endif %}
		{{ post.content | preview }}
		<a href="{{ post.url }}">Read More &raquo;</a>

		<div class="post-tags">
			Tags:
			{% for tag in post.tags %}
				<a href="/tags/{{tag | replace:' ', '-' | downcase }}" rel="tag">{{ tag }}{% if forloop.last == false %}, {%endif %}</a>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
