---
layout: default
---
<div class="post">
	<h2 class="date-header">{{ page.date | date: '%A, %B %d, %Y' }}</h2>
	<h3 class="post-title"><a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a></h3>
	{% if page.image %}
	<div class="post-image">
		<img src="{{ page.image.url }}" width="{{ page.image.width }}" height="{{ page.image.height }}" />
	</div>
	{% endif %}
	{{ content }}

	<div class="post-meta">
		<span class="post-tags">
			Tags:
			{% for tag in page.tags %}
				<a href="/tags/{{tag | replace:' ', '-' | downcase }}" rel="tag">{{ tag }}{% if forloop.last == false %}, {%endif %}</a>
			{% endfor %}
		</span>
	</div>
</div>
{% include comments.html %}
